@media only screen and (max-width: 640px){
	.list {width: 90%;}
}
@media only screen and (min-width: 641px){
	.list {width: 620px;}
}
@media only screen and (min-width: 780px){
	.list {width: 760px;}
}
@media only screen and (min-width: 1200px){
	.list {width: 1000px;}
}
.list {
	list-style-type:none;
	margin: 40px auto;
	position: relative;
}
.li {
	background: #f8f5f2;
	box-shadow:0px 1px 10px 0px #111;
	position:absolute;
	opacity: 0;
	transition: 1s;
	cursor: pointer;
}
.pic {
	font-size:0;
}
.img {
	width:100%;
	height: auto;
}
.content {
	padding: 5px;
}
.titlep{
	text-shadow: 0px 1px 5px rgba(8, 8, 8, 0.53);
	vertical-align: top;
	height: 25px;
	font-size: 16px;
	line-height: 25px;
	color: #000;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.contentp {
	color:#666666;
	font-size: 12px;
	line-height: 18px;
}
.meta {
    font-size: 12px;
    line-height: 14px;
    border-top: 1px solid rgb(26, 21, 16);
    padding: 5px 0 0 0;
    margin-top: 5px;
    margin-bottom: 2px;
    position: relative;
}
.tag {
	display: inline-block;
	padding: 2px 4px;
    border: 1px solid #404040;
	margin-right: 6px;
	background: #404040;
    color: #f8f5f2;
}
.click {
	display: inline-block;
	padding: 2px 4px 2px 2px;
	border: 1px solid rgb(26, 21, 16);
	position: absolute;
	right: 0;
	font-style: italic;
	color: #1a1510;
}
