$baseFontSize: 12px !default;
$baseLineHeight: 1.6 !default;

.list {
	list-style-type: none;
	margin: 40px auto;
	position: relative;
	font: #{$baseFontSize}/#{$baseLineHeight} "inherit";

	@media only screen and (max-width: 640px){
		width: 95%;
	}
	@media only screen and (min-width: 641px){
	    width: 600px;
	}
	@media only screen and (min-width: 760px){
		width: 720px;
	}
	@media only screen and (min-width: 1200px){
		width: 1000px;
	}
}

.li {
	background: #f8f5f2;
	box-shadow:0px 1px 10px 0px #111;
	position:absolute;
	// opacity: 0;
	transition: 1s;
	-webkit-transition: 1s;
	cursor: pointer;
}

.pic {
	font-size:0;
	img {
		width:100%;
		height: auto;
	}
}

.content {
	padding: 5px;
	color: #505050;

	.title {
		white-space:nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: $baseFontSize*1.3;
		color: #000;
		text-shadow: 0px 1px 5px rgba(8, 8, 8, 0.53);
		line-height: 25px;
	}

	.meta {
	    border-top: 1px solid rgb(26, 21, 16);
	    padding-top: 5px;
	    margin-top: 5px;
	    position: relative;
	    min-height: 20px;

		.tag {
			display: inline-block;
			margin-right: 6px;
			padding: 0 4px;
		    border: 1px solid #404040;
			background: #404040;
		    color: #f8f5f2;
		}

		.click {
			display: inline-block;
			position: absolute;
			right: 0;
			padding: 0 5px 0 3px;
			border: 1px solid rgb(26, 21, 16);
			font-style: italic;
			color: #1a1510;
		}
	}
}

.shade {
	position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: right;
    font-style: italic;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;

    &:hover {
		opacity: 0.8;
	}

    span {
		font-size: 20px;
		position: relative;
		top: 1em;
		right: 1em;
		color:rgba(255, 255, 255, 0.6);
	}
}

@-webkit-keyframes load {
	0%,40%,100% {
		-webkit-transform: scaleY(0.1);
	}
	20% {
		-webkit-transform: scaleY(1);
	}
}

@keyframes load {
	0%,100% {
		transform: scaleY(0.1);
	}
	50% {
		transform: scaleY(1);
	}
}

.loading {
	z-index: 9999;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	opacity: 1;
	margin: -60px auto 35px auto;
	width: 60px;
	height: 25px;

	i {
		float: left;
		width: 6px;
		height: 40px;
		margin: 0 2px;
		background: #555555;
		-webkit-transform: scaleY(0.1);
		-ms-transform: scaleY(0.1);
		transform: scaleY(0.1);
		-webkit-animation: load 1s ease infinite;
		animation: load 1s ease infinite;
	}
	i:nth-child(1) {
		-webkit-animation-delay: 0.1s;
		animation-delay: 0.1s;
	}
	i:nth-child(2) {
		-webkit-animation-delay: 0.2s;
		animation-delay: 0.2s;
	}
	i:nth-child(3) {
		-webkit-animation-delay: 0.3s;
		animation-delay: 0.3s;
	}
	i:nth-child(4) {
		-webkit-animation-delay: 0.4s;
		animation-delay: 0.4s;
	}
	i:nth-child(5) {
		-webkit-animation-delay: 0.5s;
		animation-delay: 0.5s;
	}
	i:nth-child(6) {
		-webkit-animation-delay: 0.6s;
		animation-delay: 0.6s;
	}


}
